#backgroundImage{

    -fx-background-image: url("picture.jpg");
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
#plusButton{

    -fx-background-image: url("add.png");
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
#MenuView{
    -fx-background-image: url("picture.jpg");

}

#welcome{
    -fx-text-fill: darkslategrey;
    -fx-font-size: 18pt;
}
#room{
    -fx-text-fill: #4e5251;
    -fx-font-size: 15pt;
    -fx-font-family: sans-serif;
}
#button{
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
#button Text {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.8), 0, 0.0, 0, 1);
}

#button:hover{
    -fx-background-color: #a3b1bd;

}
#pricesButton {

    -fx-text-fill: darkslategrey;
    -fx-font-size: 13pt;
    -fx-min-width: 90px;
    -fx-min-height: 30px;
    -fx-background-color: #8d98a1;
    -fx-border-style: solid;
    -fx-border-color: #99a5af;
}

#pricesButton:hover{
    -fx-background-color: #c0cfdb;

}
#priceLabels {

    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: cursive;
}


#chooseMovie{
    -fx-text-fill: red;
    -fx-font-size: 15pt;
}

#back{

    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-font-size: 10pt;
    -fx-font-family: sans-serif;
    -fx-border-radius: 10px;
    -fx-min-width: 100px;
    -fx-min-height: 40px;
    -fx-text-alignment: center;
}
#back:hover {
    -fx-background-color: #3d586f;
    -fx-text-fill: #d6d2ce;
}
#navigationButon{
    -fx-background-color: rgba(255,0,255,0);;
}
#navigationButon:hover{

}




.table-cell {
    -fx-background-color: #2d3b47;

}
#movieTitleText{
    -fx-text-fill: #474849;
    -fx-font-size: 12pt;
    -fx-font-family: sans-serif;

}
#movieTitle{
    -fx-text-fill: #203b3b;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}




#back1{
    -fx-text-fill: #3a3938;
    -fx-font-size: 10pt;
    -fx-font-family: sans-serif;
    -fx-background-color: #979495;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-min-width: 100px;
    -fx-min-height: 40px;
    -fx-border-color: #4d555d;
}
#back1:hover{
    -fx-background-color: #3d586f;
    -fx-text-fill: #d6d2ce;


}
#save{
    -fx-min-height: 90px;
    -fx-min-width: 120px;
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-background-color: #c0cfdb;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: #99a5af;
    -fx-border-radius: 30px;
}

#save:hover{
    -fx-background-color: #a3b1bd;

}
#conformition{
    -fx-text-fill: #203b3b;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

#ok{
    -fx-text-fill: darkslategrey;
    -fx-font-size: 13pt;
    -fx-min-width: 90px;
    -fx-min-height: 30px;
    -fx-background-color: #8d98a1;
    -fx-border-style: solid;
    -fx-border-color: #99a5af;
}
#ok:hover{
    -fx-background-color: #c0cfdb;

}
#vbox{
-fx-background-image: url("backGround.jpg")}

#scheduleButtons {
    -fx-background-color: #000000 linear-gradient(#7ebcea, #2f4b8f) linear-gradient(#426ab7, #263e75),linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-text-alignment: center;
}
#scheduleButtons:hover{
    -fx-background-color: #8d98a1;

}

#tabs{
    -fx-text-fill: white;

}