#backgroundImage{

    -fx-background-image: url("picture.jpg");
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
#plusButton{

    -fx-background-image: url("add.png");
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
#MenuView{
    -fx-background-image: url("picture.jpg");

}

#welcome{
    -fx-text-fill: darkslategrey;
    -fx-font-size: 18pt;
}
#room{
    -fx-text-fill: darkslategrey;
    -fx-font-size: 15pt;
}
#button{
    -fx-text-fill:white;
    -fx-padding: 10 15 10 15;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-font-weight: bold;

    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
            linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
            linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
}

#button:hover{
    -fx-background-color: #a3b1bd;

}
#chooseMovie{
    -fx-text-fill: red;
    -fx-font-size: 15pt;
}
#navigationButon{
    -fx-text-fill: darkslategrey;
    -fx-font-size: 10pt;
    -fx-background-color: #c0cfdb;
    -fx-border-style: solid;
    -fx-border-color: #99a5af;
}
#navigationButon:hover{
    -fx-background-color: #a3b1bd;

}

.table-cell:selected {
    -fx-background-color: lightgreen;
    -fx-text-fill: green;

}


#movieTitleText{
    -fx-text-fill: darkslategrey;

}
#movieTitle{
    -fx-text-fill: #203b3b;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}
#back{
    -fx-text-fill: darkslategrey;
    -fx-font-size: 10pt;
    -fx-background-color: #c0cfdb;
    -fx-border-style: solid;
    -fx-border-color: #99a5af;
}
#save{
    -fx-min-height: 90px;
    -fx-min-width: 120px;
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-background-color: #c0cfdb;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: #99a5af;
    -fx-border-radius: 30px;
}

#save:hover{
    -fx-background-color: #a3b1bd;

}
#conformition{
    -fx-text-fill: #203b3b;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

#ok{
    -fx-text-fill: darkslategrey;
    -fx-font-size: 13pt;
    -fx-min-width: 90px;
    -fx-min-height: 30px;
    -fx-background-color: #8d98a1;
    -fx-border-style: solid;
    -fx-border-color: #99a5af;
}
#ok:hover{
    -fx-background-color: #c0cfdb;

}